@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif !important;
}
p{
  margin: 0;
}

/* =======Headings====== */
h3{
  font-weight: 600;
  font-size: 20px;
  color: #FFFCFC;
}
h4{
  font-size: 14px !important;
  color: #121212;
  font-weight: 600 !important;
}
/* ========Buttons======= */
.main-btn{
  width: 317px;
  height: 40px;
  background: #129575;
  border-radius: 10px;
  border: none !important;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
}

.hero-main p{
  font-size: 14px;
  color: #FFFFFF;
}
.hero-main{
  background: url(../src/assets/hero-bg.png), no-repeat;
  height: 250px;
  width: 100%;
  background-size: cover;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
}
.search-input{
  background: #FFFFFF;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
  border-radius: 10px !important;
  border: none !important;
  height: 50px;
  padding-left: 40px !important;
}
.search-input::placeholder{
  color: #D9D9D9 !important;
  font-size: 12px;
}
.main-search{
  margin-top: -25px;
  position: relative;
}
.main-search .input-group{
  width: 95% !important;
  margin: 0 auto;
}
.input-group-append{
  position: absolute;
  top: 12px;
  left: 10px;
  z-index: 99;
}
.form-control:focus{
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25) !important;
}

.home-content {
  padding: 0 20px;
}
.selection-card{
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.search-tags{
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
  flex-wrap: wrap;
}
.single-tag{
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 14px 20px;
  gap: 5px;
  position: relative;
  
}
.single-tag p{
  margin: 0 !important;
  font-size: 8px;
  color: #A6A6A6;
}
.close-btn{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 7px;
}
.cos-btn-div button{
  font-size: 8px;
  color: #A6A6A6;
  background: #F0F0F0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  border: none;
  width: 65px;
  height: 30px;
  font-weight: 600;
}
.cos-btn-div {
  justify-content: space-between !important;
}
button.active{
  background: #129474;
  color: #FFFFFF;
}